/* You can add global styles to this file, and also import other style files */
html, body {
  height: 100%;
  margin: 0 !important;
  padding: 0 !important;
  box-sizing: border-box;
}
*,
*::before,
*::after {
  box-sizing: inherit;
  margin: 0;
  padding: 0;
  font-family: "Inter", sans-serif;
}

:root {
  --sidebar-dark: #0a2342;
  --content-light: #f8fafc;
  --cta-green: #1ed6a3;
  --text-dark: #18213a;
  --font-family: 'Inter', sans-serif;
}

body {
  font-family: var(--font-family);
  background-color: var(--content-light);
  color: var(--text-dark);
}
